root {
    display: block;
}


body {
    font-family: fantasy;
    background-color: rgb(93, 101, 255);
}


h1 {
    font-size: -webkit-xxx-large;
    font-variant: small-caps;
    font-weight: 600;
    color: honeydew;
    text-align: center;
}

 
root {
    display: block;
}


body {
    font-family: fantasy;
    background-color: rgb(93, 101, 255);
}


h1 {
    font-size: -webkit-xxx-large;
    font-variant: small-caps;
    font-weight: 600;
    color: honeydew;
    text-align: center;
}

H2  {
     font-family: fantasy;
    color: rgb(#FAAE0A);
}

H3  {
     font-family: fantasy;
    color: rgb(orange);
}